.login-container {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 24px 12px;
}

.login-container .card {
  border-radius: 16px;
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
}

.login-container .card-header {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
